#tuxedo_timer {
    text-align: center;
    font-size: 48px;
    margin-top: 10px;
}

.timer-controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.session-counter{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.fish-icon {
    opacity: 0.3;
}

.fish-icon.active {
    opacity: 1;
}