@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter_18pt-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.main-titlebar {
    /* width: 100%; /* or whatever height your custom assets dictate */
    height: 40px; /* or whatever height your custom assets dictate */
    -webkit-app-region: drag; 
    display: flex;
    align-items: center;
    
    justify-content: space-between;

    padding: 0px 0px 0px 5px;

    border-bottom: 1px solid black;
    position: relative;
}

.main-titlebar button {
    border-radius: 6px;
    -webkit-app-region: no-drag; 
    cursor: pointer;
}

.main-sidebar {
    display: flex;
    align-items: center;
    
    gap: 8px;

    margin: 8px 0px 8px 12px;
}

.main-window-controls {
    display: flex;
    gap: 8px;
    padding-right: 12px;
    align-items: center;
}

.main-window-controls button {
    border: none;
    border-radius: 0px;
    background: transparent;

    padding: 8px 0px;
    
    -webkit-app-region: no-drag; 
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-window-controls button img {
    image-rendering: pixelated;

    width: 24px;
    height: 24px;
    object-fit: contain;

    pointer-events: none;
    -webkit-user-drag: none;
}

.select-description {
    font-family: 'Inter';
    font-size: 10px;
    text-align: center;
}

.cat_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 8px;
}

.cat_buttons button {
    border-radius: 8px;

    height: 88px;
    width: 252px;

    padding: 10px 20px;
}

.tuxedo_info, .orange_info, .black_info {
    display: flex;
    flex-direction: column;
    text-align: left;

    font-family: 'Inter';
    font-size: 10px;

    width: 70%;
}

.confirmation_button {
    width: 252px;
    height: 28px;
    
    border-radius: 8px;

    font-family: 'Inter';
    font-size: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 20px;

    margin: 12px auto;
    
    cursor: pointer;
}

.cat_image {
    display: flex;
    flex-direction: column;
    text-align: right;
}

/*
.medium_text {
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 500;
}

.regular_text {
    font-size: 10px;
    font-family: 'Inter';
    font-weight: 400;
}
*/