* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-black);
    background: var(--bg-main);
}

.settings-titlebar {
    /* width: 100%; /* or whatever height your custom assets dictate */
    /* height: 40px; /* or whatever height your custom assets dictate */
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid var(--stroke-color);
    background: var(--topbar-fill);
}

.settings-window-controls button {
    border-radius: 5px;
    -webkit-app-region: no-drag;
    cursor: pointer;
    border: 1px solid var(--stroke-color);
    background: var(--topbar-fill);
    color: var(--text-black);
}

.settings{
    display: flex;
    flex: 1;
}

.hidden{
    display: none;
}

.side-bar {
    width: 30%;
    padding-top: 10px;
    flex-direction: left;
    border-right: 1px solid var(--stroke-color);
}

.side-bar button {
    border: none;
    background: none;
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    color: var(--text-black);
}

.main-bar{
    width: 70%;
    padding-top: 10px;
    padding-left: 10px;
}

.analytics-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.analytics-card {
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.card-data {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black);
}